.login-container{
    background: linear-gradient(135deg, #09244E, #21427A, #3a5da8);
    background-size: 400% 400%;
    animation: gradientMove 12s ease infinite;

    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@keyframes gradientMove{
    0%{background-position:0% 50%;}
    50%{background-position:100% 50%;}
    100%{background-position:0% 50%;}
}

.login-form{
    animation: fadeLogin 0.5s ease;
    backdrop-filter: blur(15px);

    background-color: rgb(255, 255, 255);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 30%;
    height: 70%;

    box-shadow: 0px 20px 40px rgba(0,0,0,0.25);
}

@keyframes fadeLogin{
    from{
        opacity:0;
        transform: translateY(20px);
    }
    to{
        opacity:1;
        transform: translateY(0);
    }
}

.login-key-icon{
    color: var(--custom-green);
    font-size: 40px;
    padding:20px;

    animation: floatKey 3s ease-in-out infinite;
}


@keyframes floatKey{
    0%{transform: translateY(0);}
    50%{transform: translateY(-6px);}
    100%{transform: translateY(0);}
}


.login-form .login-title{
    color: var(--custom-blue);
    font-size: 30px;
    font-family: var(--third-font);
    font-weight: 600;
    padding: 20px;
}

.login-form .login-instructions{
    color: black;
    font-size: 13px;
    font-family: var(--secondary-font);
    font-weight: 600;
}

.login-form label{
    color: var(--custom-blue);
    font-size: 15px;
    font-family: var(--secondary-font);
    font-weight: 600;
}

#username-input, #password-input{
    transition: all 0.3s ease;

    font-family: var(--third-font);
    font-weight: 600;
    font-size: 15px;
    padding: 10px;
    width: 50%;
    height: 45px;
    border: none;
    border-radius: 12px;
    background-color: #D9D9D9;
    color: var(--custom-blue);
}

#username-input:focus, #password-input:focus{
    width: 60%;
    border: 2px solid var(--custom-blue);
    background-color: white;
    box-shadow: 0px 0px 10px rgba(33,66,122,0.3);
}