.login-container{
    background: linear-gradient(90deg, #09244E, #21427A);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.login-form{
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    justify-content: baseline;
    gap: 25px;
    width: 40%;
    height: 80%;
}
.login-form h1{
    color: white;
    font-size: 30px;
    font-family: var(--third-font);
    font-weight: 600;
}

.login-form p, .login-form label{
    color: white;
    font-size: 15px;
    font-family: var(--secondary-font);
    font-weight: 600;
}

#username-input, #password-input{
    font-family: var(--third-font);
    font-weight: 600;
    font-size: 15px;
    padding: 10px;
    width: 60%;
    height: 45px;
    border: none;
    border-radius: 12px;
    background-color: #D9D9D9;
    color: var(--custom-blue);
}