.data-table{
    width: 100%;
    border-radius: 10px;
    overflow: hidden;           /* recorta las esquinas internas */
    border-collapse: separate;
}

.data-table-header{

    background-color: var(--custom-darkblue);
    position: relative;

}

.data-table-header-column{
    color: white;
    text-align: left;
    font-family: var(--secondary-font);
    font-size: 13px;
    
}

.data-table-header-column th{
    padding: 10px;
}

.data-table-row{
    height: 45px;
    background-color: white;
    font-family: var(--secondary-font);
    font-size: 13px;
    color: var(--custom-darkblue);
    font-weight: 600;
    
}

.data-table-row td{
    padding: 10px;  
}

.table-action-icon{
    color: var(--custom-darkblue);
    background-color: none;
    font-size: 17px;
    transition: 0.2s;
}

.table-action-button{
    border: none;
    background-color: white;
    padding: 5px;
    cursor: pointer;
}

.table-action-button:hover .table-action-icon{
    color: var(--custom-gray);
    transition: 0.7s;
}