.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.692);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  filter: blur(1);
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  min-width: 300px;
  width: 50%;
  max-width: 90%;
  position: relative;
}

.modal-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.modal-title{
    font-family: var(--third-font);
    font-size: 30px;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  cursor: pointer;
}

.form-container{
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 5px;
}
