.user-profile{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: flex-start;
    gap: 10px;
    margin: 30px 15px 20px;
    
}
.user-avatar{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}


.user-info{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.user-username{
    color: white;
    font-family: var(--primary-font);
    font-weight: 800;
}

.user-userole{
    color:white;
    font-family: var(--primary-font);
}