.nav-bar{
    transition: transform 0.3s ease;
    background: linear-gradient(90deg, #09244E, #21427A);
    height: 100vh;
    width: 18%;
    
    display: flex;
    flex-direction: column;


    
}


/*Prototipando*/
.nav-bar.collapsed{
    transform: translateX(-100%);
    z-index: -1;
    opacity: 0;
    transition: 0.9s;
    width: 0%;
}

.nav-bar.collapsed .user-profile{
    transform: scaleX(0);
    transition: 0.5s;
    
}

.nav-bar.collapsed #logout-btn{
    transform: scaleX(0);
    transition: 0.5s;
}

.separator{
    width: 100%;
    border: rgba(255, 255, 255, 0.247) solid 1px;
    margin: 30px 0px;
}

.sidebar-options-container{
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}