.nav-bar{
    background: linear-gradient(90deg, #09244E, #21427A);
    height: 100vh;
    width: 18%;
    
    display: flex;
    flex-direction: column;
}

.separator{
    width: 100%;
    border: rgba(255, 255, 255, 0.247) solid 1px;
    margin: 30px 0px;
}

.sidebar-options-container{
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}