.sidebar-item-container{
    transition: 0.2s;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    padding: 5px;
}
.sidebar-option{
    color: white;
    font-family: var(--secondary-font);
    font-weight: 500;
    list-style: none;
}

.sidebar-option-icon{
    color: white;
    font-size: 20px;
}

.sidebar-item-container:hover{
    background-color: rgba(255, 255, 255, 0.349);
    transition: 0.2s;
    
}

.sidebar-item-container:active{
    background-color: #e0e0e0;
}

.sidebar-item-container:hover .sidebar-option-icon{
    font-size: 25px;
    transition: 0.2s;
}