.admin-layout-wrapper{
    flex-direction: column;
    animation: sectionEntry 0.5s ease;
}

@keyframes sectionEntry{
    from{
        opacity: 0;
        transform: translateY(-20px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

.admin-layout-table{
    display: flex;
    flex-direction: column;
    background-color: var(--custom-gray);
    width: 100%;
    height: 70vh;
    margin: 10px;
    border-radius: 10px;

    overflow: scroll;

}

.admin-actions{
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    align-items: flex-start;
}

.h-row-form{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 30px;
}



