.option-cards-wrapper{
    display: block;
    width: 100%;
    height: 100%;

}

.dashboard-cards-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: center;   /* centra horizontalmente */
    align-content: flex-start; /* empieza desde arriba */

    gap: 20px;
    row-gap: 10px;
}