.inventario-wrapper{
    flex-direction: column;
}

.inventario-table{
    display: flex;
    flex-direction: column;
    background-color: var(--custom-gray);
    width: 100%;
    height: 70vh;
    margin: 10px;
    border-radius: 10px;

    overflow: scroll;

}

.operations-wrapper{
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    align-items: flex-start;
}

