.inventario-wrapper{
    flex-direction: column;
}

.inventario-table{
    display: flex;
    flex-direction: column;
    background-color: var(--custom-gray);
    width: 100%;
    height: 70vh;
    margin: 10px;
    border-radius: 10px;

    overflow: scroll;

}

.operations-wrapper{
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    align-items: flex-start;
}






.h-row-form{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.form-left-side, .form-right-side{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
}

.form-container input[type="text"], input[type="number"]{
    font-family: var(--primary-font);
    font-weight: 600;
    font-size: 12px;
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 10px;
    background-color: #D9D9D9;
    color: black;
    padding: 10px;
    text-align: center;
}

.form-container textarea{
    font-family: var(--primary-font);
    font-weight: 600;
    font-size: 12px;
    border: none;
    border-radius: 10px;
    background-color: #D9D9D9;
    color: black;
    padding: 10px;
    text-align: center;
}

.form-container label{
    font-family: var(--primary-font);
    font-weight: 600;
    font-size: 12px;
    color: var(--custom-blue);
    text-align: center;
}

.form-prev-img{
    width: 60%;
    height: auto;
    border-radius: 10px;
}